
<div class="container d-flex justify-content-center footer">
	<div class="footercontent">

		Copyright 
    	<script language="javascript" type="text/javascript">
			var today = new Date()
			var year = today.getFullYear()
			document.write(year + '.')
		</script> 
		<a href="http://www.jinkkim.github.io/porfolio" class="links2">Jin Kim </a> All Rights Reserved. 			
		
		<br>
		<div class = "container d-flex justify-content-around">
			<a style="color:black" href="https://www.linkedin.com/jinkingkim"><i class='fa fa-linkedin-square'/></i></a>
        	<a style="color:black" href="http://www.github.com/jinkkim"><i class='fa fa-github-square'/></i></a>
			<a style="color:black" href="https://www.instagram.com/k9.cookie"><i class='fa fa-instagram'/></i></a>
			<a style="color:black" href="https://www.youtube.com/"><i class='fa fa-youtube-square'/></i></a>		
			<a style="color:black" href="https://plus.google.com/"><i class='fa fa-google-plus-square'/></i></a>
		</div>								
	</div>
</div>

